<div>
	 Select Entity to 	Manage :
     <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{domainType.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="domainType in domainTypes track by $index">
          	<button type="button" class="btn-default btn-lg btn-block" ng-click="selectDomain($index)">{{domainType.name}}</button>
        </li>
      </ul>
    </div>				
</div>
