<tabset> 
	<tab heading="{{tab.label}}" ng-repeat="tab in meta.editor.tabs track by $index">
			<ng-form name="entityform" ng-disabled="'true'">
			<fieldSet ng-disabled="entity == null">
			<br/>
			<div ng-repeat="field in tab.fields track by $index">
				<div class="form-group" ng-if="field.type == 'text' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label> <input name="{{field.name}}"
						ng-model="entity[field.name]" type="text" class="form-control"
						ng-required="{{field.required}}"></input>
				</div>
				<div class="form-group" ng-if="field.type == 'password' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label> <input name="{{field.name}}"
						ng-model="entity[field.name]" type="password" class="form-control"
						ng-required="{{field.required}}"></input>
				</div>
				<div class="form-group" ng-if="field.type == 'int' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label> <input name="{{field.name}}"
						ng-model="entity[field.name]" type="text" class="form-control"
						ng-required="{{field.required}}"></input>
				</div>
				<div class="form-group" ng-if="field.type == 'textarea' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label>
					<textarea ng-model="entity[field.name]" class="form-control" rows="5"
						ng-required="{{field.required}}"></textarea>
				</div>
				<div class="form-group" style="margin:0px"  ng-if="field.type == 'date' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label>
					
					<p class="input-group">
						<input type="text" 
						       class="form-control" 
						       datepicker-popup="{{format}}"
						       ng-model="entity[field.name]"
						       is-open="opened"
						       ng-click = "opened = true"
						       min-date="{{minDate}}"
						       max-date="'2020-12-31'"
						       datepicker-options="dateOptions"
						       date-disabled="disabled(date, mode)" 
						       ng-required="{{field.required}}"
						       close-text="Close"
						       class="input-md" />
					</p>
				</div>
				
				<div class="form-group" ng-if="field.type == 'OTO'  && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label>
					<ui-select ng-required="{{field.required}}" ng-model="entity[field.name]" theme="bootstrap"
						reset-search-input="false" style="width: 100%;"> <ui-select-match
						placeholder="Search ...">{{$select.selected.display}}</ui-select-match>
					<ui-select-choices repeat="result in results[field.name] track by $index"
						refresh="searchEntities(field.name, field.entityType, $select.search)" refresh-delay="1000">
					<div ng-bind-html="result.display | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>	
				
				<div class="form-group" ng-if="field.type == 'file' && field.display != false">
					<label for="{{field.name}}">{{field.label}}:</label>
					<input name="{{field.name}}"
							ng-model="entity[field.name]" type="hidden" class="form-control"
							ng-required="{{field.required}}"></input>
					<a ng-href="{{entity[field.name].split(':')[1]}}" ng-if="entity[field.name] != null">{{entity[field.name].split(":")[0]}}</a>
					<br/>
					<div class="panel panel-default">
						<div class="panel-body">
							<progressbar max="max" value="progress">
								<span style="color:black; white-space:nowrap;">{{progress}}%</span>
							</progressbar>
							<div
							   class="btn btn-primary btn-upload"
								   upload-button
							   url="{{app.config.UPLOAD_SERVER_URL}}"
							   field="{{field.name}}"
							   on-upload="onUploadStart(files,field)"
							   on-error="onUploadError(response,field)"
							   on-success="onUploadSuccess(response,field)"
							   on-complete="onUploadComplete(response,field)"
							>Upload</div>
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-if="field.type == 'OTM'  && field.display != false">
					<div entitymgmt-entity-editor-otm app="app" entity="entity" field="field"></div>
				</div>
			</div>		
			
			<!-- Save Button -->
			<div class="form-group col-md-12" ng-if="$index==0">
				<br/>
				<br/>
				<button ng-disabled="!entityform.$valid" type="submit"
					class="btn btn-primary" ng-click="saveEntity()">{{action}}</button>
				<button ng-if="task.id == null" type="submit" class="btn btn-default"
					ng-click="resetEntity()">Reset</button>
				<button ng-if="task.id == null" type="submit" class="btn btn-default"
					ng-click="launchModule('entitymgmt')">Cancel</button>
				<button ng-if="entity.id != null" type="submit"
					class="btn btn-primary" ng-click="deleteEntity()" ng-if="showDelete">Delete</button>
			</div>				
		</fieldSet>
		</ng-form>								
	</tab>
			
</tabset>
