<div>
	<h4 style="text-align:right">
		Total {{field.label}}(s) : <span class="label label-default">{{entity[field.name]!=null ? entity[field.name].length : 0}}</span>
	</h4>
	
	<accordion close-others="false" ng-if="entity[field.name]!=null && entity[field.name].length>0">
	    <accordion-group is-open="false" ng-repeat="subEntity in entity[field.name]" ng-if="!subEntity.deleted">
	        <accordion-heading>
	        	{{field.label}} # {{entity[field.name].indexOf(subEntity)+1}}
				&nbsp;&nbsp;
	            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
	        </accordion-heading>								    
			<div class="form-group">
				<button type="submit"
					class="btn btn-primary pull-right" ng-click="deleteSubEntity(field, subEntity)">Remove</button>
				<div>
					<div ng-repeat="tab in field.meta.editor.tabs">
						<div ng-repeat="subEntityField in tab.fields" ng-if="subEntityField.display!=false">
							<label for="{{subEntityField.label}}">{{subEntityField.label}}:</label>
							<div>
								<div class="form-group" ng-if="subEntityField.type != 'file' && subEntityField.type != 'OTO' && subEntityField.type != 'owner'">
									<span>{{subEntity[subEntityField.name]}}</span>
								</div>
								<div class="form-group" ng-if="subEntityField.type == 'OTO' || subEntityField.type == 'owner'">
									<span>{{subEntity[subEntityField.name].display}}</span>
								</div>
								<div class="form-group" ng-if="subEntityField.type == 'file'">
									<a ng-href="{{subEntity[subEntityField.name].split(':')[1]}}" ng-if="subEntity[subEntityField.name] != null">{{subEntity[subEntityField.name].split(":")[0]}}</a>
								</div>
							</div>
						</div>
					</div>												
				</div>
			</div>			
	    </accordion-group>	
	</accordion>
	
	<h5><strong>Add new {{field.label}}:</strong></h5>
	
	<div id="editor"/>
	    
</div>