	<h3>
		<button type="submit"
		class="btn btn-primary" ng-click="onNew()">New
		Entity</button>
		<button type="submit"
		class="btn btn-primary" ng-click="refresh()">Refresh</button>
		<button type="submit"
		class="btn btn-primary" ng-click="deleteEntities()">Delete</button>
	</h3>

	<!-- div class="grid" ng-grid="gridOptions"></div -->
	<div ui-grid="gridOptions" ui-grid-edit ui-grid-selection
		ui-grid-resize-columns ui-grid-row-edit ui-grid-cellNav
		ui-grid-pagination ui-grid-exporter ui-grid-move-columns
		class="listgrid"></div>
