<div class="modal-header">
	<h4 class="modal-title">
		<span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Select
		{{data.field.label}}
	</h4>
</div>
<div class="modal-body">
	<tabset> <tab
		heading="Search and Select from Existing {{data.field.label}}s">
	<div class="panel {{panelType!=null?panelType:'panel-success'}}">
		<div class="panel-heading">Entity Search</div>
		<div class="panel-body">
			<div entitymgmt-entity-grid-view domain-type="data.domainType"
				show-button-panel="false" multi-select="false",
				list-view="'default'"
				on-new="newEntity(data.domainType)"
				on-select="selectEntity(entities)" entities="entities"
				meta="data.meta" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button type="button" class="btn btn-primary" ng-click="save()"
				ng-disabled="data.entity==null">Save</button>
		</div>
	</div>
	</tab> 
	<tab heading="Create New {{data.field.label}}">
		<div entitymgmt-entity-editor action="Save"
			domain-type="data.domainType" show-expand="false" show-delete="false"
			app="app" entity="data.newentity" meta="data.meta" panel-type="panelType"
			title="data.field.label" on-save="saveEntity()"></div>
			<div class="modal-footer">
				&nbsp;
			</div>
		</div>
	</tab> 
	</tabset>
</div>
