<div>
	<div class="col-md-9">
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">{{title}}</div>
			<div class="panel-body">
	
				<tabset> 
					<tab heading="My Tasks ({{gridOptions.data.length}})" ng-controller="taskmgmtController">
						<h3>
							<button type="submit"
							class="btn btn-primary" ng-click="initNewTask()">New
							Task</button>
							<button type="submit"
							class="btn btn-primary" ng-click="completeTasks()">Mark Done</button>
							<button type="submit"
							class="btn btn-primary" ng-click="performAction('addtask')">Update Progress</button>
							<button type="submit"
							class="btn btn-primary" ng-click="refresh()">Refresh</button>
							<button type="submit"
							class="btn btn-primary" ng-click="initNewSubTask()" ng-disabled="gridApi.selection.getSelectedGridRows().length != 1">Add Sub Task</button>
						</h3>
						<!-- div class="grid" ng-grid="gridOptions"></div -->
						<div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-resize-columns ui-grid-row-edit ui-grid-cellNav ui-grid-pagination ui-grid-exporter ui-grid-move-columns class="tasksgrid"></div>
					</tab> 
					
					<tab heading="Collaborations">
						<h3>This is where task related collaborations go ...</h3>
					</tab>
	
					<tab heading="Activities">
						<h3>This is where application related activities go ...</h3>
					</tab>
					
				</tabset>
			</div>
		</div>
	</div>
  	<div class="col-md-3">
		<div ng-include="'/profiles/taskmgmt.app/taskmgmt/addtask/taskmgmt.addtask.html'"/>
	</div>
	<br />
</div>