<div ng-controller="WelcomeController">
	
	<div ng-if="module == null">
	
		<h3>Available Modules:</h3>
		
		<a class="col-md-2" style="margin:25px" type="button" class="btn btn-primary" 
			ng-repeat="module in modules" 
			href="javascript:launchModule(module.name);"
			ng-click="launchModule(module.name);">
			<img src="{{module.icon!=null? module.icon : '/images/gear.png'}}"/>
			<h4><strong>{{module.title}}</strong></h4>
			<br/>
		</a>
	</div>
	
	<div ng-if="module != null">
	
		<div ng-include="htmlpath"/>
		
	</div>
	
</div>


